<form class="col-4 offset-3 w-50 mt-5" #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm)">
    <div class="mb-3">
        <label for="emailInput" class="form-label">Email address</label>
        <input type="email" 
               class="form-control" 
               id="emailInput" 
               aria-describedby="emailHelp"
               name="email"
               [(ngModel)]="formValue.email"
               required
               pattern="^[A-Za-z0-9._]+@[A-Za-z0-9]+\.[A-Za-z]{2,}$"
               #emailInput="ngModel"
        >

        @if(emailInput.invalid && loginForm.submitted){
            <div id="emailHelp" class="form-text text-danger">
                @if(emailInput.hasError('required')){
                    <span>Required Field</span>
                }@else if (emailInput.hasError('pattern')) {
                    <span>Invalid Pattern</span>                    
                }
            </div>
        }    
    </div>

    <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input type="password" 
               class="form-control" 
               name="password"
               id="passwordInput"
               [(ngModel)]="formValue.password"
               required
               aria-describedby="passHelp"
               #passwordInput="ngModel"       
        >

        @if(passwordInput.invalid && loginForm.submitted){
            <div id="passHelp" class="form-text text-danger">
                @if(passwordInput.hasError('required')){
                    <span>Required Field</span>
                }
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
